@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-gradient-to-bl from-slate-950 from-20% via-slate-800 via-80% to-slate-700 bg-fixed bg-no-repeat;
}

@layer base {
  :root {
    font-family: "Inter", sans-serif;
  }
}
